*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
#navbar{
    height: 60px;
    background-color: black;
    
}
button{
    background-color: rgb(204, 134, 12);
}
#logo{
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}