body {
    background-color: #3B0A35;
}


.card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 550px;
    margin: 30px;
    background-color: rgb(128, 62, 62);
    position: relative;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
    color: rgb(34, 34, 34);
    text-align: center;
    font-size: 16px;
}

.card .card-body .full-name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0 0; 
}

.input{
    outline: none;
    background-color: #bcb4bb94 ;
    width: 200px;
    height: 12px;
    padding: 12px;
    margin-bottom: 2em;

}
.description{
    outline: none;
    background-color: #60216094 ;
    width: 200px;
    height: 40px;
    padding: 10px;
    
    
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
}

#card-display{
    background-color: #27072394;
    margin: 10px;
    margin-right: 50px;
    margin-top: 0;
    padding: 5px;
}
#download{
    font-size: 12px;
    background-color: #61295994;
    padding: 8px;
    margin: 8px;
    margin-top: 0px;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    box-shadow: 0px 0px 6px 0px rgb(190, 190, 190);
}
  
.center {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  
  }
  .form-input {
    width:150px;
    padding:10px;
    background:transparent;
    position: relative;
    align-items: center;
  }
  .form-input img {
    width:100px;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
    border-radius:50% ;
  }
.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#a9d7fd;
  color:rgb(24, 1, 1);
  font-size:11px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
  margin: 10px;
} 