@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    color: green;
}
body{
 
    background-color: #eee;
    scroll-behavior: smooth;
}


:root
{
    --green:rgb(28, 230, 93);
    --black:rgb(7, 7, 41);
}


::-webkit-scrollbar{
  
    width:10px;
}

::-webkit-scrollbar-track{
    background-color: var(--green);
}

::-webkit-scrollbar-thumb{
    background-color: lightgreen;
}

::selection{
    background-color: var(--green);
}

.main-div{
    /* padding: 0 10%; */
    /* background-color: aqua; */
}
.container{
    padding: 0 10%;
    /* border: 1px solid red; */
}


.header{
    width:100%;
    transition: .4s;
    box-shadow: 1px  3px 9px #000100;
    /* border: 1px solid red; */
    /* background-color: aqua; */
} 

.header .nav-bar-1{
    /* border: 3px solid blue; */
        width:100%;
        background-color: var(--green);
        padding: 5px 0;

}

.header .nav-bar-1 .container{
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        align-items: center;
}
.header .nav-bar-1 .logo{
    font-size: 2rem;
    color: #eee;
    font-weight: bold;


}
.header .nav-bar-1  .logo i{
   color: #eee;
}


.header .nav-bar-1 .search{
    position: relative;
}

.header .nav-bar-1 .search input{
     width: 200px;
     padding: 5px 30px  5px  10px ;
     outline: none;
}

.header .nav-bar-1 .search .fas{
     
 /* color:var(--green); */
  font-size: 1.2rem;
  position: absolute;
  right:10px;
  top:7px
}

.header .nav-bar-2 {
    background-color: var(--black);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;

}

.header .nav-bar-2 .nav , .icons {
    display: flex;
    list-style: none;

}
 

.header .nav-bar-2 .nav li, .icons li i{
    padding: 5px 10px;
    cursor:pointer;
    color: #fff;
}



.header .nav-bar-2 .nav li:hover  ,  .icons li i:hover{
     color: var(--green);
}

/* home section */

.home .imgBx{
    width: 500px;
    height: 500px;
    /* background-color: aqua; */

}
.home .imgBx img{
    max-width: 500px;
}

.home{
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    position: relative;
    background-color: #fff;
}

.home .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100%;
}
.home .content{
    /* background-color: aqua; */
       width: 50%;
}
.home .content p{
    font-size: 2rem;
    padding: 10px 0;
    text-align: left;
    color:var(--black);

}

.home .content h1{
    padding: 10px 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.home  .content h1 span{
    color: var(--green);
}

a.btn{
    font-size: 1rem;
    padding: 5px 20px;
    margin: 10px 0;
    text-align: center;
    background: var(--green);
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
}a.btn:hover{
    background: var(--black);color: var(--green);
}



/* offer */
 
.offers{
    width: 100%;
    padding: 30px 0;
}
.title{
     width: 100%;
     text-align: center;
     padding: 20px 0;

}
.title h2 {
     font-size: 2rem;
     text-transform: uppercase;
     color: var(--black);
     font-weight: bolder;

}

.title h2 span{
    color: var(--green);
}
.field{
   /* background-color: aquamarine; */
    display: flex;
    gap:20px;
    
}

.field .box{
  

    flex:1 1 5rem ;
    height: 250px;
    overflow: hidden;
    border: 1px solid  var(--black);
    border-radius: 7px;
    position: relative;
}
.field .box .content{
    position: absolute;
    text-align: right;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    /* background-color: aqua; */

    z-index: 1;
}
.field .box .content h2{
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
   padding: 5px 0px;
}
.field .box .content p{
   font-size: 1rem;
   color: var(--black);
   text-transform: capitalize;
   padding: 10px 0;
}
.field .box .imgBx{
   width: 100%;
   height: 100%;
}
.field .box .imgBx img{
   width: 100%;
   max-height: 100%;
   object-fit: cover;
   transition: .3s;
}

.field .box:hover .imgBx img{
   transform:scale(1.03) ;
} 



/* category */
.category{
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
}

.category .field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    /* background-color: blue; */
    padding: 10px;
}


.category .field .box{
    /* background-color: red; */
    flex: 1 13rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
    background-color: #fff;
}

.category .field .box h2{
    font-size: 1.2rem;
    color: var(--black);
    text-transform: capitalize;
    z-index: 11;
}

.category .field .box p{
    padding: 0;
    font-size: 1rem;
    color: var(--black);
    z-index: 11;
}
.category .field .box img{
    max-width: 200px;
    max-height: 150px;
    align-self: center;
    transition: .3s;
    z-index: 0;
}
.category .field .box img:hover{
    animation: rot .5s linear;

}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(12deg) scale(1.032);
        
    }
    75%{
        transform: rotate(-12deg) scale(1.032);
        
    }
    100%{
        transform: rotate(0deg);
    }
}

.category .field .box a.btn{
    display: block;
    /* align-self: baseline; */
   margin-top: 20px;

    
}


/* letest product */

.products
{
    width: 100%;
    padding: 20px 0;
   
}
.products .container{
    box-shadow: 1px 3px 10px #0001;
    padding: 10px 20px;
    background-color: #fff;
}
.products .field{
    flex-wrap: wrap;
}

.products .field .card{
    flex: 1 1 220px;
    margin: 10px 0;
    border: 1px solid var(--black);
    border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    transition: .3s;
    overflow: hidden;
    background-color: #fff;
}

.products .field .card .imgBx{
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.products .field .card .imgBx img{
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    
}

.products .field .card .descount{
    position: absolute;
    background: var(--green);
    top: 10px;left: 10px;
    padding: 5px;
    color: #ffff;
}

.products .field .card .icons{
    position: absolute;
    right: -50px;
    top: -50px;
    flex-direction: column;
    gap: 10px;
    transition: .3s;
}
.products .field .card .icons .fas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(0, 128, 0, 0.274);
    color: var(--black);
    border-radius: 50%;
    cursor: pointer;
}

.products .field .card .icons .fas:hover{
    background: var(--green);
    color: #fff;
}

.products .field .card:hover .icons {    
    right: 10px;
    top: 10px;
}

.products .field .card .name{
    font-size: 1.2rem;
    color: var(--black);
}

.products .field .card .rating .fas{
    color: gold;
}

.products .field .card .price{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}
.products .field .card .price h2{
    color: var(--green);
}
.products .field .card .price del{
    color: crimson;
}

.products .field .card .qty{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.products .field .card .qty h2{
    font-size: 1rem;
    padding: 10px;
}

.products .field .card .qty input{
    outline: none;
    padding: 5px;
    width: 60px;

}
.products .field  .shop{
    margin-bottom: -10px;  
}
/* slogan */
.slogan{
    width: 100%;
    height: 40vh;
    padding: 30px 0;
    background: url(images/slogan-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.slogan .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slogan .msg{
    width: 100%;text-align: center;
}
.slogan .msg h2{
    font-size: 2rem;
    color: var(--black);
    text-shadow: 1px 2px 3px #fff;
}
.slogan .msg p{
    color: #fff;
    text-shadow: 1px 2px 3px #111;
}

/* footer */
.footer{
    width: 100%;
    height: 30vh;
    background-color: var(--black);
}